*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}




body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     padding: 2rem;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.buttons .button{
      padding:0.7rem 1.5rem;
      margin-right: 20px;
      border:none;
      outline:none;
      border-radius: 3px;
      cursor:pointer;
}

#button1{
    background-color: black;
    color:#fff;
}

#button2{
    background-color: green;
    color:#fff;
}

#button3{
    background-color: blue;
    color:#fff;
}